@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Chicle|Dancing+Script|Great+Vibes|Merienda|Permanent+Marker|Press+Start+2P|Shadows+Into+Light');

@mixin vendor-prefix($name, $argument) {
  #{$name}: $argument;
  -webkit-#{$name}: $argument;
  -ms-#{$name}: $argument;
  -moz-#{$name}: $argument;
  -o-#{$name}: $argument;
}

.main-container{
  background: url('./../../images/fondo-primera-pagina.jpg')no-repeat center center fixed;
  background-color: rgba(255, 255, 255, 0.7);
  @include vendor-prefix(background-size, cover);
  width: 100%;
  height: 100%;
}

.first-container{
  background-color: rgba(255, 255, 255, 0.7);
  min-height: 100vh !important;
}

.logo{
  width:50%;
  padding-top: 32vh;
  margin-left: auto;
  margin-right: auto;
  animation: fade-in 4s 0.0s forwards ease-out;
}

.logo.hide {
  animation: fade-out 0.9s forwards ease-out;
}

.table-container{
  background-color: rgba(255, 255, 255, 0.7);
  min-height: 100vh !important;
}

.graphic-container{
  background-color: rgba(255, 255, 255, 0.7);
  min-height: 100vh !important;
}

#titulo{
  text-align: center;
  font-family: 'Great Vibes', cursive;
  color: white;
  font-size: 7em;
}

.titulo-container{
  background-color: #3F9EFF;
  padding-top: 15vh;
  padding-bottom: 15vh;
}

.formulario{
  width: 20%;
  margin-left: 10vw;
  margin-right: 10vw;
}

.dataTables_wrapper{
  margin-right: 10vw;
  margin-left: 10vw;
}

#myChart{
  width: 85%;
  height: auto;
}

.contenido-container{
  margin-top: 100px;
  margin-bottom: 100px;

}

// ************************************************************
// tabla
// ************************************************************

/* Button styles */
.show-card {
  background: #fff;
  border-radius: 4em;
  border: 0.25em solid #1fa756;
  color: #1fa756;
  font-size: 18px;
  left: 50%;
  line-height: 1.5;
  opacity: 0;
  padding: 1em 1em 1em 4em;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  outline: none;
}

.show-card.hide{
animation: fade-out 0.0s 0.0s forwards ease-out;
}

/* Image on the button */
.show-card img {
  border-radius: 50%;
  left: 0.3em;
  position: absolute;
  top: 0.25em;
  width: 3em;
}

.card {
  animation: fade-in 1s 0.0s forwards ease-out;
  bottom: auto;
  display: none;
  height: auto;
  margin-left: 6vw;
  margin-left: 6vw;
  position: static;
  transition: all 0.4s 0.4s cubic-bezier(.5,.2,.43,1.33);
  width: 85%;
}

.close {
  color: #0E0E0E;
  cursor: pointer;
  height: 1em;
  opacity: 0;
  position: absolute;
  right: 0.5em;
  top: 0.5em;
  width: 1em;
  z-index: 10;
}

/* ANIMATIONS */

/* Show state */
.card.show .close {
  animation: fade-in 0.3s 1.3s forwards;
}

/* Hide state */
.card.hide {
  animation: drop-card 1s forwards cubic-bezier(.54,-0.38,.34,1.42);
}

// ************************************************************
// grafico
// ************************************************************
/* Button styles */
.show-card-graphic {
  background: #fff;
  border-radius: 4em;
  border: 0.25em solid #1fa756;
  color: #1fa756;
  font-size: 18px;
  left: 50%;
  line-height: 1.5;
  opacity: 0;
  padding: 1em 1em 1em 4em;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  outline: none;
}

.show-card-graphic.hide{
animation: fade-out 0.0s 0.0s forwards ease-out;
}

/* Image on the button */
.show-card-graphic img {
  border-radius: 50%;
  left: 0.3em;
  position: absolute;
  top: 0.25em;
  width: 3em;
}

.card-graphic {
  animation: fade-in 1s 0.0s forwards ease-out;
  bottom: auto;
  display: none;
  height: auto;
  margin-left: 6vw;
  margin-left: 6vw;
  position: static;
  transition: all 0.4s 0.4s cubic-bezier(.5,.2,.43,1.33);
  width: 85%;
}

/* ANIMATIONS */

/* Show state */
.card-graphic.show .close {
  animation: fade-in 0.3s 1.3s forwards;
}

/* Hide state */
.card-graphic.hide {
  animation: drop-card 1s forwards cubic-bezier(.54,-0.38,.34,1.42);
}

/* Animations */

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


@keyframes drop-card {
  100% {
    bottom: -100%;
    transform: rotateZ(20deg);
    opacity: 0;
  }
}
